#cookie-bar{
    position: fixed;
    bottom: 0px ;
    background-color: brown;
    height: 40px;
    width: 100%;
}
p{
    display: contents;
}
#close{
    float: right;
    margin: 5px 20px;
    height: 30px;
    width: 30px;
}