@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

.slideout-menu {
  display: none;
}

/*--------------------*/
@font-face {
  font-family: "colorfont";
  font-style: normal;
  font-weight: 500;
  src: url("../content/fonts/Agreloycazure-BWLMn.ttf");
}
@font-face {
  font-family: "seguili";
  font-style: normal;
  font-weight: 500;
  src: url("../content/fonts/kozystane_teraz/seguili.ttf");
}
@font-face {
  font-family: "seguibli";
  font-style: normal;
  font-weight: 500;
  src: url("../content/fonts/kozystane_teraz/seguibli.ttf");
}
.menu .menu-center {
  text-align: center;
  background-color: rgb(32, 32, 32);
  height: 40px;
}
.menu .menu-center .menu-line {
  padding-top: 10px;
  margin: 0px 50px;
}
.menu .menu-center .menu-line ul {
  text-align: right;
}
.menu .menu-center .menu-line ul li {
  padding: 10px;
  display: inline;
}
.menu .menu-center .menu-line ul li a {
  color: rgb(226, 223, 223);
}
.menu .menu-center .menu-line ul li:hover {
  background-color: rgba(110, 108, 108, 0.7);
}
.menu .menu-center .menu-line ul li:hover a {
  color: rgb(238, 183, 183);
}
.menu .menu-center .menu-line ul .curent-page {
  background-color: rgba(110, 108, 108, 0.7);
}
.menu .menu-center .menu-line ul .curent-page a {
  color: rgb(207, 85, 85);
}

h1 {
  position: absolute;
  margin: 10px 0px 0px 10px;
  font-weight: bold;
}
h1 a {
  color: aqua;
}

.footer {
  background-color: rgb(32, 32, 32);
  height: 80px;
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .copyright {
  border-top: rgba(206, 204, 204, 0.7) 2px solid;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.footer .copyright p {
  margin-top: 2px;
  text-align: center;
  color: #f0f8ff;
  font-size: 10px;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.page-title-light {
  padding: 2em 1em 1em 1em;
}
.page-title-light h1 {
  font-weight: 300;
  color: #444444;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #ccc;
}

.table-title-light {
  padding: 0em 1em 1em 1em;
}
.table-title-light .table-heading-title {
  line-height: 1;
  position: static;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

.clearfix h1, .clearfix h2, .clearfix h3, .clearfix h4, .clearfix h5, .clearfix h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
  font-family: "Merriweather Sans", sans-serif;
}
.clearfix h1 {
  font-size: 36px;
}
.clearfix h3 {
  font-size: 24px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}