@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

.slideout-menu {
  display: none;
}

/*--------------------*/
@font-face {
  font-family: "colorfont";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Agreloycazure-BWLMn.ttf");
}
@font-face {
  font-family: "seguili";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/seguili.ttf");
}
@font-face {
  font-family: "seguibli";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/seguibli.ttf");
}
@font-face {
  font-family: "Climate Crisis";
  font-style: normal;
  font-weight: 36px;
  src: url("../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}
.menu .menu-center {
  text-align: center;
  background-color: rgb(32, 32, 32);
  height: 40px;
}
.menu .menu-center .menu-line {
  padding-top: 10px;
  margin: 0px 50px;
}
.menu .menu-center .menu-line ul {
  text-align: right;
}
.menu .menu-center .menu-line ul li {
  padding: 10px;
  display: inline;
}
.menu .menu-center .menu-line ul li a {
  color: rgb(226, 223, 223);
}
.menu .menu-center .menu-line ul li:hover {
  background-color: rgba(20, 18, 18, 0.5);
}
.menu .menu-center .menu-line ul li:hover a {
  color: rgb(238, 183, 183);
}
.menu .menu-center .menu-line ul .curent-page {
  background-color: rgba(110, 108, 108, 0.7);
}
.menu .menu-center .menu-line ul .curent-page a {
  color: rgb(207, 85, 85);
}

h1 {
  position: absolute;
  margin: 10px 0px 0px 10px;
  font-size: 20px;
}
h1 a {
  font-family: "Climate Crisis", cursive;
  color: rgb(16, 175, 24);
}

.footer {
  background-color: rgb(32, 32, 32);
  height: 80px;
  clear: both;
  position: absolute;
  bottom: auto;
  width: 100%;
}
.footer .copyright {
  border-top: rgba(206, 204, 204, 0.7) 2px solid;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.footer .copyright p {
  margin-top: 2px;
  text-align: center;
  color: #f0f8ff;
  font-size: 10px;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.page-title-light {
  padding: 2em 1em 1em 1em;
}
.page-title-light h1 {
  font-weight: 300;
  color: #444444;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #ccc;
}
.page-title-light h2 {
  font-weight: 300;
  color: #444444;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #ccc;
}

.table-title-light {
  padding: 0em 1em 1em 1em;
}
.table-title-light .table-heading-title {
  line-height: 1;
  position: static;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

.clearfix h1, .clearfix h2, .clearfix h3, .clearfix h4, .clearfix h5, .clearfix h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
  font-family: "Merriweather Sans", sans-serif;
}
.clearfix h1 {
  font-size: 36px;
}
.clearfix h3 {
  font-size: 24px;
}
.clearfix h2 {
  font-size: 24px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  height: 450px;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.text {
  color: #ebe3e1;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  font-family: Verdana, sans-serif;
}
.text b {
  background-color: rgba(0, 0, 0, 0.25);
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 50%;
}

.dot-container {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
p {
  display: inline;
  margin: 20px;
}

.contact-us > h1 {
  font-size: 64px;
  text-align: center;
  font-family: seguibli;
}
.contact-us .contact-box {
  text-align: center;
}
.contact-us .contact-box .form-block {
  display: inline-block;
  margin: 25px;
  height: 460px;
}
.contact-us .contact-box .form-block > h2 {
  font-size: 40px;
  font-family: seguibli;
}
.contact-us .contact-box .form-block p {
  font-family: seguili;
  text-align: initial;
  margin: 5px 40px;
  height: 15px;
  font-size: 15px;
  font-weight: bold;
}
.contact-us .contact-box .form-block input {
  width: 170px;
  min-height: 25px;
  border: 2px solid rgba(26, 25, 25, 0.616);
  border-radius: 6px;
}
.contact-us .contact-box .form-block .input-box {
  padding: 3px 1px;
  margin: 1px;
  width: 245px;
  height: 40px;
}
.contact-us .contact-box .form-block .form-blocks {
  display: flex;
  flex: auto;
  margin: 2px;
}
.contact-us .contact-box .form-block .flex-message-box {
  margin-top: 5px;
}
.contact-us .contact-box .form-block .flex-message-box .message-box {
  padding: 1px;
  margin: 1px;
}
.contact-us .contact-box .form-block .flex-message-box .message-box #textbox {
  width: 415px;
  max-width: 415px;
  min-width: 350px;
  height: 200px;
  border: 2px solid rgba(26, 25, 25, 0.616);
  border-radius: 6px;
  inline-size: -webkit-fill-available;
}
.contact-us .contact-box .form-block .button-box {
  padding: 1px;
  margin: 3px;
}
.contact-us .contact-box .form-block .button-box button {
  font-family: seguili;
  width: 100px;
  height: 30px;
  border: 2px solid rgba(26, 25, 25, 0.616);
  border-radius: 6px;
  font-size: 16px;
  background-color: rgba(199, 194, 194, 0.74);
}
.contact-us .contact-box .form-block .button-box button:hover {
  background-color: rgba(77, 73, 73, 0.74);
}
.contact-us .contact-box .contact-info {
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0px 30px;
  margin: 30px;
}
.contact-us .contact-box .contact-info .contact-info-box {
  width: 400px;
  height: 150px;
  border: 2px solid rgba(26, 25, 25, 0.616);
  margin: 10px;
  padding: 5px;
}
.contact-us .contact-box .contact-info .contact-info-box h3 {
  text-align: center;
  font-family: seguibli;
}
.contact-us .contact-box .contact-info .contact-info-box h3 span {
  font-size: 32px;
  font-weight: 700;
}
.contact-us .contact-box .contact-info .contact-info-box P {
  font-family: seguili;
  font-size: 18px;
  text-align: center;
}
.contact-us .map-box {
  text-align: center;
  margin: 20px 0px;
}
.contact-us .map-box .map {
  width: 500px;
  height: 400px;
  display: contents;
}
.contact-us .map-box .map iframe {
  width: 500px;
  height: 400px;
  border: 2px solid black;
}

@media only screen and (max-width: 550px) {
  .contact-us .contact-box .form-block {
    margin: 25px 0px;
    padding: 0px 15px;
    max-width: 498px;
    width: 100%;
  }
  .contact-us .contact-box .form-block input {
    max-width: 170px;
    width: 100%;
  }
  .contact-us .contact-box .form-block .flex-message-box {
    text-align: initial;
  }
  .contact-us .contact-box .form-block .flex-message-box .message-box #textbox {
    min-width: 150px;
  }
  .contact-us .contact-box .form-block .input-box {
    text-align: initial;
  }
  .contact-us .contact-box .form-block p {
    margin: 5px 0px;
  }
  .contact-us .contact-box .contact-info {
    max-width: 400px;
    min-width: 250px;
    width: 100%;
    padding: 0px;
    margin: 30px 0px;
  }
  .contact-us .contact-box .contact-info .contact-info-box {
    max-width: 400px;
    min-width: 250px;
    width: auto;
    margin: 15px;
  }
  .contact-us .map-box {
    margin: 20px 15px;
  }
  .contact-us .map-box .map {
    width: 100%;
  }
  .contact-us .map-box .map iframe {
    width: 100%;
  }
}
.error, .required {
  color: red;
}

.success {
  color: rgb(121, 211, 31);
}

.succ-err {
  text-align: initial;
  display: block;
  margin: 15px 40px;
  font-family: seguibli;
}